# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
env/

# Mac OS
.DS_Store

# Git
.git/
.gitignore

# Env files (do not copy local secrets)
.env
.env.local

# Frontend Build
frontend/dist/

# Tests
tests/
